* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
}

.chart {
    width: 800px;
}